/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');

/* fonts end */


body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
    padding: 0;
}

.container {
    display: grid;
    /* box-sizing: border-box; */
}

img {
    max-width: 50px;
}

p {
    margin: 0;
}
/* navbar */
nav {
    background-color: #8a2be2;
    position: fixed;
    width: 100%;
    height: 0.75in;
    z-index: 1;
    box-shadow: 0px 5px 20px #808080;
}

/* .fixednav {
    position: fixed;
} */

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.col-nb-3 {
    order: 1;
}

.nav-left {

}

.nav-left img {
    max-width: 180px;
    padding: 0.5rem 1rem;
}
.nav-right {

}

.col-nb-2 {
    order: 2;
    /* flex-grow: 2; */
}

.sb-btn {
    margin: 1.5rem 0 0 0;
    width: 10;
    cursor: pointer;
}

.sb-btn span{
    display: block;
    background-color: #ffcc00;
    width: 30px;
    height: 3px;
    margin: 4px 0px;
}

#spanbt1.active {
    transform: rotate(135deg) translate(-15px, -10px);
    transition: ease-in .5s 0s ;
}

#spanbt2.active {
    display: none;
    transition: ease-in .5s 0s;
}

#spanbt3.active {
    transform: rotate(45deg);
    transition: ease-in .5s 0s ;
}

/* sidebar */

#side-bar {
    background-color: #ffcc00;
    width: 50%;
    height: 100%;
    position: fixed; 
    margin-top: 72px;
    border-top-left-radius: 5px;
    box-shadow: 0px 100px 100px #2c2c2c;
    z-index: 2;
    right: -70%;
    transition: ease 0.5s 0.5s;
}

#side-bar.active {
    right: 0;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
}

.side a {
    text-decoration: none;
    width: 100%;
    text-align: center;
    padding: 1.5rem 0;
    border-bottom: 1px solid #9b9b9b;
}

.col-bg-6 {
    display: flex;
    flex-direction: column;
}

.sidebar-container a {
    width: 100%;
}

/* end of sidebar */

/* end of navbar */

/* header */
#header {
    background-color:  #8a2be2;
    padding-top: 1in;
}

.header-container { 
    display: flex;
    flex-direction: column;
    align-items: center;

}

.raw-bg-10 {
    height: 5in;
}

.raw-sm-3 {
    padding: 3rem 0 0 0;
}

.header-text {
    height: 160px;
}

.header-text p {
    color: #ffcc00;
    font-family: 'Almarai', sans-serif;
    font-size: 16pt;
    line-height: 3.3em;
    text-align: center;
}

.raw-smx-3 {

}

.search-wrapper {
    display: flex;
    flex-direction: row;
    width: 250px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 50px;
}

.search-wrapper input {
    border: 0px;
    height: 30px;
    flex-grow: 3;
    margin: 0 30px;
    width: 10%;
}

.search-img-wrapper {
    flex-grow: 2;
}

.search-img-wrapper img {
    max-width: 30px;
    margin: 0 0 0 50px;
}

/* end of header */

/* slide-show */
#slideshow {
    background-color: #ffcc00;
}

.ssh-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mySlides {
    display: none;
}

.ssh-items-wrapper {
    width: 100%;
    /* height: 300px; */
}

.ssh-slides img {
    min-width: 100%;
    min-height: 210px;
}

.ssh-slideshow {
    /* float: left; */
    display: flex;
    background-color: snow;
    flex-direction: column;
    width: 70%;
    margin-bottom: 1rem;
    /* height: 270px; */
    box-shadow: 0px 10px 20px #808080;
}

.ssh-slides {
    margin: 0px 4px 0 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ssh-left-btn {
    cursor: pointer;
    position: absolute;
    left: 5%;
    margin: 25% 0;
    padding: 3px;
    background-color:#fffafa;
    border-radius: 50px;
    transition: 0.6s ease;
    user-select: none;
}

.ssh-right-btn {
    cursor: pointer;
    position: absolute;
    right: 5%;
    margin: 25% 0;
    padding: 3px;
    background-color:#fffafa;
    border-radius: 50px;
    transition: 0.6s ease;
    user-select: none;
}

.ssh-right-btn:hover , .ssh-left-btn:hover {
    background-color: #8a2be2;
}

.ssh-slideshow .text {
    color: #000000;
    font-size: 15px;
    /* padding: 0px 25%; */
    /* position: absolute; */
    /* padding-left: 40px; */
    /* width: 50%; */
    text-align: center;
    /* margin-bottom: 10px; */
}

.ssh-slides .numbertext {
    font-size: 12px;
    text-align: center;
}

.ssh-dots {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.ssh-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0.25rem 0 0.25rem 0;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.ssh-dot .active, .ssh-dot:hover {
    background-color: #717171;
}

.ssh-slideshow .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation: fade 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}


/* end of slide-show */

/* rb */

#rb {
    background-color: #f2f2f2;
    height: 5in;
}

.rb-container {
    margin: 0 0;
    display: flex;
    flex-direction: column;
    margin: 0 .75rem;
}

.col-bg-10 {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    width: 80%;
}



.col-bg-10 img {
    margin: 2rem 1rem 1rem 1rem;
    padding: 10px;
    background-color: white;
    border-radius: 50%;
    border-style: dotted;
    border-width: 2px;
    border-color: #808080;
}

.rb-text {
    padding: 2rem 1rem 1rem 1rem;
    display: flex;
    align-items: center;
}

.rb-text p{
    font-size: 18px;
    text-align: center;
    font-family: 'Cairo', sans-serif;
    text-shadow: 1px 1px 5px #808080;
}

.col-md-10 {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
    max-width: 80%;
    overflow-y: hidden;
    align-self: center;
    margin: 0;
    margin: 2rem 0 0 0;
}



.rb-imgs {
    background-color: #ffffff;
    border: 1px groove #9b9b9b;
    border-radius: 2px;
}

.rb-imgs img {
    max-width: 40%;
    padding: 1rem;
    height: 200px;
}
/* .rb-imgs .rb-img:nth-of-type(1){
    grid-area: rbimg1;
}
.rb-imgs .rb-img:nth-of-type(2){
    grid-area: rbimg2;
}
.rb-imgs .rb-img:nth-of-type(3){
    grid-area: rbimg3;
}
.rb-imgs .rb-img:nth-of-type(4){
    grid-area: rbimg4;
}
.rb-imgs .rb-img:nth-of-type(5){
    grid-area: rbimg5;
} */



/* end of rb */

/* footer */

footer {
    background-color: #8a2be2;
    color: #fffafa;
}



footer a {
    text-decoration: none;
    color: #fffafa;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer-item-wrapper {
    margin-top: 10px;
}

.col-sm-3 {
    display: flex;
    flex-direction: column;
    text-align: center; 
}

.col-sm-3 a {
    padding-bottom: 1rem;
}

.footer-search-wrapper {
    display: flex;
    flex-direction: row;
    width: 200px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 50px;
}

.footer-search-wrapper img {
    width: 50px;
    margin-left: 1rem;
}

.footer-search-wrapper input {
    border: 0;
}

.col-sm-2 {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 50%;
    text-align: center;
}

.col-sm-2 p {
    padding: 5px;
    border-radius: 50px;
    font-size: 14px;
    color: #8a2be2;
    background-color: #f2f2f2;
    margin: 1rem;
}

.col-sm-2 p:hover {
    background-color: #8a2be2;
    color: #f2f2f2;
    transform-style: ease;
    transition-duration: 0.5s;
    transition-delay: 0.5s;
}
/* end of footer */
